
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.VC.db
*.VC.VC.opendb

*.log
*.tmp

.DS_Store

.vscode/

# Visual Studio cache
.vs/
*.ipch

# Jetbrain Rider
Plugins/**/RiderLink/*
*.DotSettings.user
.idea/

# Content 폴더의 모든 파일과 폴더 무시
Content/*

# 필요한 폴더 제외
!Content/Blueprints
!Content/Input
!Content/Maps