
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.VC.db
*.VC.VC.opendb

*.log
*.tmp

.DS_Store

.vscode/

# Visual Studio cache
.vs/
*.ipch

# Jetbrain Rider
Plugins/**/RiderLink/*
*.DotSettings.user
.idea/
